In [12]:
# dictionary
fruit={"orange": 10,"Apple":20,"mango":30,"pineaple":32}
print(fruit)
print(type(fruit))
print("values")
print(fruit.values())
print("keys")
print(fruit.keys())
print(fruit.items())
fruit["banana"]=45
fruit.items()
# chnage in value
fruit["orange"]=99
fruit

{'orange': 10, 'Apple': 20, 'mango': 30, 'pineaple': 32}
<class 'dict'>
values
dict_values([10, 20, 30, 32])
keys
dict_keys(['orange', 'Apple', 'mango', 'pineaple'])
dict_items([('orange', 10), ('Apple', 20), ('mango', 30), ('pineaple', 32)])

{'orange': 99, 'Apple': 20, 'mango': 30, 'pineaple': 32, 'banana': 45}

In [16]:
#append the values or merge 2 dictionaries
fruit1={"orange": 10,"Apple":20}
fruit2={"mango":30,"pineaple":32}
fruit1.update(fruit2)
fruit1
# for delete or pop
fruit1.pop("orange")
fruit1

{'Apple': 20, 'mango': 30, 'pineaple': 32}

In [6]:
info={
"name":"Sher Muhammad",
"Age":19,
"Topics":["Python","DSA","OOP","Core"],
"Subjects":("SEM","SRE","SEM","SRE"),
"isAdult":True,
"Marks":98,
100: 150,
}
print(info)
print(info[100])
print(info["name"])
print(info["Topics"])

{'name': 'Sher Muhammad', 'Age': 19, 'Topics': ['Python', 'DSA', 'OOP', 'Core'], 'Subjects': ('SEM', 'SRE', 'SEM', 'SRE'), 'isAdult': True, 'Marks': 98, 100: 150}
150
Sher Muhammad
['Python', 'DSA', 'OOP', 'Core']

In [4]:
# there is no order in dictionary no index 
# dict are mutable and we cant create duplicate 
#
info={
"name":"Sher Muhammad",
"Age":19,
"Topics":["Python","DSA","OOP","Core"],
"Subjects":("SEM","SRE","SEM","SRE"),
"isAdult":True,
"Marks":98,
100: 150,
}
info["name"]="Muhammad"
info["surname"]="Jessar"
print(info)

# we can create null dictionary
nulldict={}
print(nulldict)

{'name': 'Muhammad', 'Age': 19, 'Topics': ['Python', 'DSA', 'OOP', 'Core'], 'Subjects': ('SEM', 'SRE', 'SEM', 'SRE'), 'isAdult': True, 'Marks': 98, 100: 150, 'surname': 'Jessar'}
{}

In [20]:
# nested Dictionary
student={
    "name":"sher Muhammad",
     "subjects":{
    "physics":97,
    "Chemistry":98,
    "Maths": 100,
    "SRE": 90,
    "SEM": 95
    },
    "age": 19,
     "address":"larkana "
}
print(student)
print(student["subjects"])
print(student["subjects"]["SRE"])

# TYPE CAST

print(list(student.keys()))
print(len(student))
print(student.values())
print(student.get("subject"))# if value not found return none


# if two dict contains the same key so it update existing one
dict2={"name": "ali","age":21}
student.update(dict2)
print(student)

{'name': 'sher Muhammad', 'subjects': {'physics': 97, 'Chemistry': 98, 'Maths': 100, 'SRE': 90, 'SEM': 95}, 'age': 19, 'address': 'larkana '}
{'physics': 97, 'Chemistry': 98, 'Maths': 100, 'SRE': 90, 'SEM': 95}
90
['name', 'subjects', 'age', 'address']
4
dict_values(['sher Muhammad', {'physics': 97, 'Chemistry': 98, 'Maths': 100, 'SRE': 90, 'SEM': 95}, 19, 'larkana '])
None
{'name': 'ali', 'subjects': {'physics': 97, 'Chemistry': 98, 'Maths': 100, 'SRE': 90, 'SEM': 95}, 'age': 21, 'address': 'larkana '}

In [19]:
# sets are unoordered no index
# it store int,float,tuple,boolean but not dict or lists
# it stores unique values and iqnore duplicate values
collection={1,2,3,4,5}

print(type(collection))

#empty set 
collection={}# this is empty dict
print(type(collection))
collection=set()
print(type(collection))

# set is mutable but elements of the set are immutable

collection.add(1)
collection.add(2)
collection.add("sher")
collection.add(1.001)
collection.add((1,2,3,4,5))
print(collection)
# remove delete a specific element
collection.remove(1.001)
print(collection)
# clear removes all element
print("POping")
print(collection)
print(collection.pop())
print(collection)
collection.pop()

<class 'set'>
<class 'dict'>
<class 'set'>
{1, 2, 1.001, 'sher', (1, 2, 3, 4, 5)}
{1, 2, 'sher', (1, 2, 3, 4, 5)}
POping
{1, 2, 'sher', (1, 2, 3, 4, 5)}
1
{2, 'sher', (1, 2, 3, 4, 5)}

2

In [22]:
#union and intersection
set1={1,2,3,4,5,}
set2={4,5,6,7,8,}

print(set1.union(set2))
# it doesn't make any change in original sets
print(set1)
print(set2)

# intersection

print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}

In [28]:
# practice 
dictionary={
    "table": ["a piece of furniture","lists of facts and fiqure"],
    "cat" : "a small animal"
}
print(dictionary)

{'table': ['a piece of furniture', 'lists of facts and fiqure'], 'cat': 'a small animal'}

In [29]:

 classroom={"python","java","c++","python","javascript","java","python","java","c++","c"}
 print(len(classroom))

5

In [34]:

 chemistry=input("enter the marks of chemistry")
 maths=input("enter the marks of maths")
 bio=input("enter the marks of biology")
 marks={
    "chemistry" :chemistry,
     "maths" : maths,
     "bio": bio
 }
 print(marks.keys())

enter the marks of chemistry 33
enter the marks of maths 33
enter the marks of biology 33

dict_keys(['chemistry', 'maths', 'bio'])

In [46]:
# store 9 and 9.0 serately in set 
sett={9,9.0}
print(sett)

# one way one in original form and one in string form
sett={9,'9.0'}
print(sett)

# 2 solution in tuples
sett={
     ("float",9.0),
       ("int",9)
 }
print(sett)

{9}
{9, '9.0'}
{('int', 9), ('float', 9.0)}