In [7]:
# average of 3 numbers
def avg(a,b,c):
     return (a+b+c)/3

average=avg(10,20,30)
print(average)

20.0

In [20]:
# WAF to  return the length of list

def print_len(a):
    print(len(a),end=" ")

def print_list(a):
    for el in a:
        print(el)
        
cities=["larkana","hyd","jam","khi","dadu"]
heros=("ironman","captio","deadpool","wolvarine","black panther","ms marvel")
print_len(cities)
print_len(heros)
print_list(cities)

5 6 larkana
hyd
jam
khi
dadu

In [30]:

def odd_even(num):
    if(num%2==0):
       return "even"
    else:
        return "odd"
    
print(odd_even(99999992))

even

In [35]:
# recursion
# factorial
def factorial(n):
    if(n==0 or n==1):
        return 1
    return factorial(n-1)*n

print(factorial(9))

362880

In [43]:
#sum of n numbers

def cal_sum(n):
    if(n==0):
        return 0
    return cal_sum(n-1)+n



print(cal_sum(5))

15

In [48]:
# print all elements in the list 

def print_list(a, ind=0):
    if(ind==len(a)):
        return "end"
    print(a[ind])
    print_list(a,ind+1)


li=[1,2,4,5,3,6,7,0,9,8]
print(print_list(li))

1
2
4
5
3
6
7
0
9
8
None