In [4]:
marks=[24,45,76,89,90,22,44,55,21,34,78,76,52,31]
print(marks)
print(marks[0])
print(marks[5])
print(marks[9])

[24, 45, 76, 89, 90, 22, 44, 55, 21, 34, 78, 76, 52, 31]
24
22
34

In [9]:
student=["Sher Muhammad", 99.0,"Larkana "]
print(student)
# list are mutable
student[0]="Sher"
print(student)

['Sher Muhammad', 99.0, 'Larkana ']
['Sher', 99.0, 'Larkana ']

In [24]:
# methods
values=[5,8,9,1,3,4,2,7,6]
values.append(100)
print(values)
#values.sort() Ascending
values.sort(reverse=True)# descending
print(values)
values2=['a','b','g','m','c','e']
values2.sort()
print(values2)
values2.reverse()
print(values2)
values.insert(4,400)
print(values)
values.remove(4)
print(values)
values.pop(4)
print(values)

[5, 8, 9, 1, 3, 4, 2, 7, 6, 100]
[100, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['a', 'b', 'c', 'e', 'g', 'm']
['m', 'g', 'e', 'c', 'b', 'a']
[100, 9, 8, 7, 400, 6, 5, 4, 3, 2, 1]
[100, 9, 8, 7, 400, 6, 5, 3, 2, 1]
[100, 9, 8, 7, 6, 5, 3, 2, 1]

In [4]:
#tupples are like the list but they are immutable 
tup=(1,2,3,4,5,6)
print(tup)
# we can make empty tuple
tupp=()
print(tupp)
print(type(tupp))
# if there is one value in the tuple we put , comma  
tup=(1,)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6)
()
<class 'tuple'>
(1,)
<class 'tuple'>

In [9]:
#slicing in tuple work as in the list
tup=(1,2,3,4,5,6,7,8,3,10)
print(tup[1:5])

 #tuple methods

print(tup.index(3))
# It returns the index of the first occurrence
print(tup.count(3))
# returns the number of how many time that element occur

(2, 3, 4, 5)
2
2

In [17]:
# ask user to inter 3 movies and store it in list
favmov=[]
movie1=input("Enter name of favorite movie 1",)
movie2=input("Enter name of favorite movie 2",)
movie3=input("Enter name of favorite movie 3",)

#favmov=[movie1,movie2,movie3]
favmov.append(movie1)
favmov.append(movie2)
favmov.append(movie3)
favmov.append(input("enter name of first movie",))
favmov.append(input("enter name of second movie"))
favmov.append(input("enter name of third movie"))

print(favmov)

Enter name of favorite movie 1 bahubali
Enter name of favorite movie 2 KGF
Enter name of favorite movie 3 Pushpa
enter name of first movie Jawan
enter name of second movie Bharmastra
enter name of third movie devdas

['bahubali', 'KGF', 'Pushpa', 'Jawan', 'Bharmastra', 'devdas']

In [29]:
#check for palindrome function
List=[1,2,3,4,5,4,3,2,1]
list1=List.copy()
list1.reverse()

if(list1==List):
    print("palindrome")

else:
    print("not palindrome")

palindrome

In [35]:
tup=("A","C","D","A","B","B","A")
tup.count("A")

3