In [21]:
a=5
b=-12
c=b//a
print(c)
#-ve denominator 
d=2
e=-2
print(e/d)

-3
-1.0

In [28]:
#input
name=input()
age=int(input("AGE : "))
price=float(input("Price : "))
print("MY Name is ",name," ",age ," years old ")

 iqbal
AGE :  20
Price :  23.4445

MY Name is  iqbal   20  years old

In [29]:
#operator ** means power
c=3**3
print(c)

27

In [30]:
#operator precendence
not True and False or True

True

In [42]:
light=input("Light : ")
if(light=="red"):
    print("Stop")
elif(light=="Yello"):
    print("Ready")
elif(light=="Green"):
    print("GO")
else:
    print("LIGHT IS BROKEN")

Light :  Red

LIGHT IS BROKEN

In [50]:
marks=int(input("Marks : "))
if(marks>90):
    print("A+")
elif(marks<=89 and marks>80):
    print("A")
elif(marks<=79 and marks>70):
    print("B+")
elif(marks<=69 and marks>60):
    print("B")
elif(marks<=59 and marks>50):
    print("C+")
else:
    print("Fail")

Marks :  91

A+

In [54]:
#single line condition variable
food=input("FOOD : ")
eat="yes" if food=="cake" else "no"
print(eat)

FOOD :  mango

no

In [61]:
# single line with print direct
food=input("FOOD")

print("yes") if food=="apple"or food=="cake" or food=="wheet" else print("No")

FOOD mango

No

In [67]:
# terney or clever if

age=int(input("Age : "))
Vote=("Yes","no")[age<18]
print(Vote)

Age :  12

no

In [2]:
sal=float(input("Salary "))
tax=sal*(0.2,0.1)[sal<100000]
print(tax)

Salary  100000

20000.0

In [7]:
#Arithmatic operators 
a=5
b=2
print("Sum : ",a+b)
print("subt : ",a-b)
print("mult : ",a*b)
print("div: ",a/b)
print("mod : ",a%b)
print(" : ",a**b)# power

Sum :  7
subt :  3
mult :  10
div:  2.5
mod :  1
 :  25

In [9]:
#relational Operators
a=5
a=4

print(a==b)
print(a!=b)
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)

False
True
False
False
True
True

In [13]:
#assignment operators
a=5
b=10
b**=10 # b=b**10
print(b)

10000000000

In [16]:
# logical operator NOT OR AND
a=6
b=12
print((a==b))
print(not(a==b))

False
True

In [1]:
#input
a=int(input("Enter NUM1 : "))
b=int(input("Enter NUM1 : "))

sum=a+b
print("Sum Is :",sum)

Enter NUM1 :  45
Enter NUM1 :  55

Sum Is : 100

In [3]:
# Area of square
side=float(input("Enter Side : "))
Area=side*side
print("Area of Square : ", Area)

Enter Side :  12

Area of Square :  144.0

In [11]:
#Float Number
num1=float(input("Enter NUm1 "))
num2=float(input("Enter NUm2 "))
average=(num1+num2)/2
if(num1>=num2):
    print("true")
else : print("false")
print("Average Is : ",average)

Enter NUm1  44
Enter NUm2  43.9

true
Average Is :  43.95

In [15]:
#indexing
str="Sher Muhammad"

print(str[5])

M

In [26]:
str = "collegeLife"
print(str[1:5])
print(str[:3])
print(str[5:])
 # the missing value consider start and end 
print(str[-5:])

olle
col
geLife
eLife